@page
@model RazorPageDeneme.Pages.ProductFile.ProductUpdateModel
@{
    ViewData["Title"] = "Update Product";
}
<form method="post">
    <input hidden asp-for="Product.ProductID" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Update Product</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ProductName"></label>
            <input asp-for="@Model.Product.ProductName" class="form-control" />
            <span asp-validation-for="Product.ProductName" class="txt-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <label asp-for="Product.ProductSize"></label>
            <input asp-for="@Model.Product.ProductSize" class="form-control" />
            <span asp-validation-for="Product.ProductSize" class="txt-danger"></span>

        </div>
        <br />
        <div>
            <label asp-for="Product.Stock"></label>
            <input asp-for="@Model.Product.Stock" class="form-control" />
            <span asp-validation-for="Product.Stock" class="txt-danger"></span>

        </div>
        <br />
        <div class="mb-3">
            <label asp-for="Product.SalePrice"></label>
            <input asp-for="@Model.Product.SalePrice" class="form-control" />
            <span asp-validation-for="Product.SalePrice" class="txt-danger"></span>

        </div>
        <br />
        
        
        <div class="mb-3">
            <label asp-for="Product.ProductVisual"></label>
            <input asp-for="@Model.Product.ProductVisual" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>