@page
@model RazorPageDeneme.Pages.CustomerFile.CustomerUpdateModel
@{
    ViewData["Title"] = "Update Customer";
}
<form method="post">
    <input hidden asp-for="Customer.CustomerID" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Update Customer</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Customer.CustomerName"></label>
            <input asp-for="@Model.Customer.CustomerName" class="form-control" />
            <span asp-validation-for="Customer.CustomerName" class="txt-danger"></span>

        </div>
        <br />
        <div class="mb-3">
            <label asp-for="Customer.CustomerSurname"></label>
            <input asp-for="@Model.Customer.CustomerSurname" class="form-control" />
            <span asp-validation-for="Customer.CustomerSurname" class="txt-danger"></span>

        </div>
        <br />
        <div>
            <label asp-for="Customer.CustomerCity"></label>
            <input asp-for="@Model.Customer.CustomerCity" class="form-control" />
            <span asp-validation-for="Customer.CustomerCity" class="txt-danger"></span>

        </div>
        <br />
        <div class="mb-3">
            <label asp-for="Customer.CustomerMail"></label>
            <input asp-for="@Model.Customer.CustomerMail" class="form-control" />
            <span asp-validation-for="Customer.CustomerMail" class="txt-danger"></span>

        </div>
        <br />
        <div class="mb-3">
            <label asp-for="Customer.Status"></label>
            <input asp-for="@Model.Customer.Status" class="form-control" />

        </div>
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

