@page
@model RazorPageDeneme.Pages.SaleFile.SalesTransactionModel
@{}

    <br />
    <h2>Sales</h2>
    <br />
    <table id="tbl1" class="table table-striped" style="margin-top:20px">
        <thead class="thead-dark">
            <tr>
                <th> ID </th>
                <th> Product </th>
                <th> Customer </th>
                <th> Piece </th>
                <th> Price </th>
                <th> Sum </th>
                

            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.SalesTransactions)
        {
            //veri sıralama döngüsü.
            //bir döngü oluşturdum. bu döngü c adında bir değişken içeriyor. c modele bağlı ,
            //model kategoriye bağlı ,kategori de controller tarafındaki methoda bağlı
               
            <tr>
                <td> @c.SalesID </td>
                <td> @c.ProductID </td>
                <td> @c.CustomerID</td>
                <td> @c.Piece </td>
                <td> @c.Price </td>
                <td> @c.SumPrice </td>
                

                
            </tr>
        }
        <tbody>
    </table>

    


    <a asp-page="/SaleFile/NewSale" class="btn btn-info" style="color:white"> New Sale </a>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script>
        $('#tbl1').dataTable({});
    </script>



